.item-divider {
    background-color: rgb(137, 255, 0);
}

.item-text-wrap, .item-checkbox, .item-input, .padding {
  background-color: rgb(233, 233, 233);
}

.spaceDiv {
    padding-bottom: 4%;
}

.addButtton {
    float: right;
    margin-right: 2%;
    background-color: #0f5efd;
    color: white;
}

button:hover {
    color: whitesmoke !important;
    background-color: #0e83fd;
}

@media (min-width: 680px) {
    .modal {
        bottom: 43% !important;
    }
}

